.search-box{
        -fx-background-color:#FFFFFF;
        -fx-background-radius: 100;
        }
.transparent{
        -fx-background-color: rgba(0,0,0,0);
}

.search-button{
        -fx-background-color: #828282;
        -fx-background-radius: 30;
}
.right-bar{
        -fx-background-color: #D3D3D3;
}

.shadow{
        -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
        -fx-background-color: #F16C31;
        -fx-background-radius: 30;
}

.comboBox{
        -fx-background-color: rgba(255,255,255,0.3);
        -fx-background-radius: 30;
}

.add-btn{
        -fx-background-color: #FFFFFF;
        -fx-background-radius: 100;
}

.free-delivery-card{
        -fx-background-color: #D3D3D3;
        -fx-background-radius: 30;
}

.shopping-online-card{
        -fx-background-color: #BAEAC3;
        -fx-background-radius: 30;
}

.fruit-item{
        -fx-background-color: #FFFFFF;
        -fx-background-radius: 30;

}
.label-inclined {
        transform: rotate(-45deg);
        display: inline-block;

}
/* Styling for the AnchorPane */
.root {
        -fx-background-color: #f0f0f0; /* Set background color */
}

/* Styling for the Label */
.label {
        -fx-font-size: 18px; /* Set font size */
        -fx-text-fill: #fff; /* Set text color */
}

/* Styling for the Text */
.text {
        -fx-font-size: 28px; /* Set font size */
        -fx-fill: #fff; /* Set text color */
}

/* Styling for the TextField */
.text-field {
        -fx-font-size: 14px; /* Set font size */
        -fx-prompt-text-fill: #ccc; /* Set prompt text color */
}

/* Styling for the TextArea */
.text-area {
        -fx-font-size: 14px; /* Set font size */
}

/* Styling for the Button */
.button {
        -fx-font-size: 16px; /* Set font size */
        -fx-background-color: #E25822; /* Set background color */
        -fx-text-fill: #fff; /* Set text color */
        -fx-background-radius: 20px; /* Set border radius */
}

/* Styling for the hovered Button */
.button:hover {
        -fx-background-color: #D74700; /* Change background color on hover */
}

/* Styling for the pressed Button */
.button:pressed {
        -fx-background-color: #BA3400; /* Change background color on press */
}
